footer
    .container
        .row
            .col-xs-7
                h3.footer-title Soziale Netzwerke und Informationen

                p Mein Name ist Felix Klauke, 19 Jahre jung und absolviere mein duales Studium in der Fachrichtung Softwaretechnik an der Fachhoschule Dortmund und arbeite als Auszubildender Fachinformatiker Anwendungsentwicklung bei der itemis AG in Lünen. Spezialisiert bin ich auf Backend Services und Netzwerk Anwendungen. Ihr infdet mich unter anderem in folgenden sozialen Netzwerken:

                .row
                    .col-md-2
                        a(href='https://twitter.com/Sasukezockt' target='_blank')
                            i.fab.fa-3x.fa-twitter

                    .col-md-2
                        a(href='https://www.youtube.com/channel/UCfjmrA1fwMQ4LduU7UpL8cg?view_as=subscriber' target='_blank')
                            i.fab.fa-3x.fa-youtube

                    .col-md-2
                        a(href='https://github.com/FelixKlauke' target='_blank')
                            i.fab.fa-3x.fa-github

                p
                | &copy; Felix Klauke 2018 | All rights resevered.
            .col-xs-5
                .footer-banner
                    h3.footer-title Nützliche Links
                    ul
                        li
                            a(href='https://www.fh-dortmund.de' target="_blank") Fachhoschule Dortmund - Univsersity of Applied Science
                        li
                            a(href='https://www.itemis.com/de/' target="_blank") itemis AG - Model Based Software Development
                        li
                            a(href='https://github.com/' target='_blank') GitHub - Git, VCS and Community
                        li
                            a(href='https://www.jetbrains.com/' target='_blank') JetBrains - IDEs and Tools