doctype html

html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/flat-ui.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #container
            include navbar

            #content
                block content

            include footer

        script(src='/javascripts/vendor/jquery.min.js')
        script(src='/javascripts/flat-ui.js')
        script(src='/javascripts/vendor/video.js')
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
