nav.navbar.navbar-default(role='navigation')
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-01')
            span.sr-only Toggle navigation
        a.navbar-brand(href='#') Flat UI
    #navbar-collapse-01.collapse.navbar-collapse
        ul.nav.navbar-nav
            li.active
                a(href='#fakelink') Products
            li
                a(href='#fakelink') Features
        form.navbar-form.navbar-right(action='#', role='search')
            .form-group
                .input-group
                    input#navbarInput-01.form-control(type='search', placeholder='Search')
                    span.input-group-btn
                        button.btn(type='submit')
                            span.fui-search
