nav.navbar.navbar-default(role='navigation')
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-01')
            span.sr-only Toggle navigation
        a.navbar-brand(href='/') Felix Klauke
    #navbar-collapse-01.collapse.navbar-collapse
        ul.nav.navbar-nav
            li(class=active === 'blog' ? 'active' : '')
                a(href='#fakelink') Blog
            li(class=active === 'projects' ? 'active' : '')
                a(href='#fakelink') Projekte
            li(class=active === 'gallery' ? 'active' : '')
                a(href='#fakelink') Gallerie
